<!-- public/views/nerd.html -->

<div class="text-center">
    <h1 class="title-space-bottom">About Me.</h1>
    <div class="col-lg-12 background-body">

    <div class="col-lg-8 col-lg-offset-2">
      <img src="./images/computer-7.png" class="computer-image">  <p class="body-text" >I am a software developer based in the Tempe, Arizona area.<br>
          I specialize in full stack development.
      </p>
      <p class="body-text">
          Ever since I was a small boy I always had a fascination with computers.
          My goal, as a child, was to try and click on everything I could and see what it would do.
          Eventually this drove my parents nuts and they started telling me to take
          breaks from using the computer and "Stop <b>BREAKING</b> it!"
      </p>

      <p class="body-text">
        Unforuntely for them, me being a small rambucious young boy, this only
        incouraged me to want to use it more. This was the beginning of my fascination
        with computers.
      </p>

      <p class="body-text">
        Growing up out in the "sticks" of Newman Lake, Washington (No.. this is not
        anywhere near Seattle!). Graduating college with a Bachelor of Science in Computer
        Science from Gonzaga University. And now moving to a large city where technology is booming.
        This has been my past but it has only paved a way for my ambitious spirit to
        want to continue to explore and learn new things.
      </p>

    </div>
  </div>


</div>
