.navigation-bar-right {
  float:right;
  margin-top: 4rem;
}

.title {
  margin-top: 27rem;
  color: whitesmoke;
  font-size: 6em;
  letter-spacing: 0.0588235em;
}

.sub-title {
color: whitesmoke;
font-size: 6em;
letter-spacing: 0.0588235em;
  margin-left: 4rem;
    margin-top: 0;
}

li {
  list-style-type: none;
}

li > a:hover, a:focus{
  color:white;
  text-decoration: none;
}

.white-text {
  color: #dadada;
  font-family: "Alegreya Sans SC";
  font-size: 13px;
  letter-spacing: 2px;
  padding: 1rem;
  margin-top: 0.4rem;
}

.body-text {
  color: #dadada;
  font-family: "Alegreya Sans SC";
  font-size: 1.7em;
  letter-spacing: 1px;
  padding: 1rem;
  margin-top: 0.4rem;
}

.logo {
  font-size: 2em;
  margin-top: 3rem;
}

#border {
  border: 2px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.4rem;
}

.background-body {
  background:rgba(1,1,1,0.7)
}

.title-space-bottom {
  margin-top: 27rem;
  color: whitesmoke;
  font-size: 6em;
  letter-spacing: 0.0588235em;
  margin-bottom: 8rem;
}

.computer-image {
  width: 25%;
  height: 25%;
}
